Repository apache/flink-connector-jdbc, pull requests merged in 2024-08, with the labels that each got.

#134 [FLINK-35909][test] Using reflection to resolve constructor conflicts
  flink-connector-jdbc-core/src/test/java/org/apache/flink/connector/jdbc/core/table/source/JdbcFilterPushdownPreparedStatementVisitorTest.java
Labels: component=Connectors/JDBC

#135 [FLINK-35978] Adapt labelling of boring cyborg to new modules
  .github/boring-cyborg.yml
  flink-connector-jdbc/pom.xml
Labels: component=Connectors/JDBC, component=BuildSystem

#95 [FLINK-34215] FLIP-377: Support fine-grained configuration to control filter push down for JDBC Connector
  docs/content.zh/docs/connectors/table/jdbc.md
  docs/content/docs/connectors/table/jdbc.md
  flink-connector-jdbc-core/src/main/java/org/apache/flink/connector/jdbc/core/table/FilterHandlingPolicy.java
  flink-connector-jdbc-core/src/main/java/org/apache/flink/connector/jdbc/core/table/JdbcConnectorOptions.java
  flink-connector-jdbc-core/src/main/java/org/apache/flink/connector/jdbc/core/table/JdbcDynamicTableFactory.java
  flink-connector-jdbc-core/src/main/java/org/apache/flink/connector/jdbc/core/table/source/JdbcDynamicTableSource.java
  flink-connector-jdbc-core/src/test/java/org/apache/flink/connector/jdbc/core/table/JdbcDynamicTableFactoryTest.java
  flink-connector-jdbc-core/src/test/java/org/apache/flink/connector/jdbc/core/table/JdbcTablePlanTest.java
  flink-connector-jdbc-core/src/test/java/org/apache/flink/connector/jdbc/core/table/source/JdbcDynamicTableSourceITCase.java
  flink-connector-jdbc-core/src/test/resources/org/apache/flink/connector/jdbc/core/table/JdbcTablePlanTest.xml
Labels: component=Documentation, component=Connectors/JDBC

#139 [hotfix] Remove redundant maven properties with upgrade of flink-connector-parent to 1.1.0
  pom.xml
Labels: component=JDBC/Core, component=JDBC/Shaded
