Repository apache/flink-connector-jdbc, pull requests merged in 2024-10, with the labels that each got.

#145 [hotfix] change FileSourceSplit to JdbcSourceSplit
  flink-connector-jdbc-core/src/main/java/org/apache/flink/connector/jdbc/core/datastream/source/split/JdbcSourceSplitState.java
Labels: component=JDBC/Core

#137 [FLINK-34467] bump flink version to 1.20.0
  .github/workflows/push_pr.yml
  .github/workflows/weekly.yml
  flink-connector-jdbc-core/archunit-violations/6cdea252-f400-4c13-bc99-b325f2ebe333
  flink-connector-jdbc-core/archunit-violations/stored.rules
  pom.xml
Labels: component=BuildSystem, component=JDBC/Core

#144 [FLINK-36458] Upgrade testcontainers and use original OceanBaseCEContainer in testing
  flink-connector-jdbc-oceanbase/src/test/java/org/apache/flink/connector/jdbc/oceanbase/testutils/OceanBaseContainer.java
  flink-connector-jdbc-oceanbase/src/test/java/org/apache/flink/connector/jdbc/oceanbase/testutils/OceanBaseDatabase.java
  pom.xml
Labels: component=JDBC/OceanBase
